.rect-upload .n-upload-file-list {
  display: none;
}

.rect-upload-mask {
  transition: opacity ease 0.3s;
}

.rect-upload:hover .rect-upload-mask {
  opacity: 1;
}

.rect-upload .n-upload-trigger {
  width: 100%;
}

.rect-upload .n-upload-trigger .n-upload-dragger {
  width: 100% !important;
  background: url('./image.png') center no-repeat #f5f6fa;
}
