.flip-vertical-left {
  animation: flip-vertical-left 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
@keyframes flip-vertical-left {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

.flip-vertical-right {
  animation: flip-vertical-right 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
@keyframes flip-vertical-right {
  0% {
    transform: rotateY(360deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}

/* .flip-2-hor-top-1 {
  animation: flip-2-hor-top-1 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@keyframes flip-2-hor-top-1 {
  0% {
    transform: translateY(0) rotateX(0);
    transform-origin: 50% 0%;
  }

  100% {
    transform: translateY(100%) rotateX(180deg);
    transform-origin: 50% 100%;
  }
} */
