.rich-editor {
  @apply rounded-sm border border-color-border overflow-hidden;

  .n-form-item-blank--error & {
    border: 1px solid var(--u-error-color);
  }

  &__header-item {
    @apply mr-1 flex;
  }

  .ProseMirror {
    @apply h-22 overflow-auto;
  }

  .ProseMirror:focus-visible {
    outline: unset;
  }

  .ProseMirror p.is-editor-empty:first-child::before {
    float: left;
    height: 0;
    color: var(--u-grey-3-color);
    content: attr(data-placeholder);
    pointer-events: none;
  }
}
