@import '@comunion/components/dist/es/index.css';

body {
  @media (max-width: 768px) {
    font-size: 16px;
  }
  @apply bg-color-body font-primary px-5 text-color2 relative break-words <lg:px-0;
}

::-webkit-scrollbar {
  @apply h-1 w-1;

  background: none;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary rounded h-1 w-1;
}

::-webkit-scrollbar-track {
  background: none;
}

.mobileMenuWrap .u-drawer-container,
.mobileMenuWrap .n-card > .n-card__content {
  padding: 0;
}

.mobileMenuWrap .n-card.n-card--bordered {
  border: 0;
}
