.hoverBox {
  color: #111;
  border: 1px solid rgb(102 102 102 / 40%);
}

.hoverBox:nth-child(1),
.hoverBox:nth-child(2) {
  @media (min-width: 768px) {
    border-right-width: 0;
    border-bottom-width: 0;
  }
}

.hoverBox:nth-child(3) {
  @media (min-width: 768px) {
    border-bottom-width: 0;
  }
}

.hoverBox:nth-child(4),
.hoverBox:nth-child(5) {
  @media (min-width: 768px) {
    border-right-width: 0;
  }
}
